<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form action="/createuser" method="post">
        <label for="usernameInput">username</label>
        <input type="text" name="usernameInput" id="usernameInput" />
        <label for="passwordInput">password</label>
        <input type="password" name="passwordInput" id="passwordInput" />

        <input type="submit" name="" id="" />
    </form>
</body>
</html>